<html>

<head>
    <!--    style-->
    <link rel="stylesheet" href="../../stylesheets/edit.css" />


    <!--    title-->

    <link rel="shortcut icon" href="../../images/logo.png" type="image/x-icon">
    <title>Hagere Hub</title>
</head>

<body style="background: #efefef">
    <h2>Import to Database</h2>
    <!--php starts here-->

    <!--            form starts-->
    <% if(typeof msg !='undefined' && msg !="" ) { %>
        <div>
            <div>
                <%= msg %>
            </div>
        </div>
        <% } if(typeof error !=='undefined' && error !="" ) { %>
            <div>
                <div>
                    <%= error %>
                </div>
            </div>
            <% } %>
                <form action="/admin/import/vendor" method="post" enctype="multipart/form-data">

                    <h4 style="display: inline-block;">Import CSV to Vendor</h4>
                    <input type="file" class="input" name="csvFile" id="csvFile">
                    <br><br>
                    <a style="text-decoration: none;color: coral" href="/admin/index">CANCEL</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button style="color: green; outline: none; border: none; background: none; cursor: pointer;"
                        type="submit" name="resturant"
                        onclick="return confirm('Are you sure you want to import?');">Import Vendors</button>
                </form>
                <br><br>
                <form action="/admin/import/customer" method="post" enctype="multipart/form-data">

                    <h4 style="display: inline-block;">Import CSV to Customer</h4><input type="file"
                        name="file"><br><br>
                    <a style="text-decoration: none;color: coral" href="/admin/index">CANCEL</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button style="color: green; outline: none; border: none; background: none; cursor: pointer;"
                        type="submit" name="customer"
                        onclick="return confirm('Are you sure you want to import?');">Import Customers</button>
                </form>
                <br><br>
                <form action="/admin/import/order" method="post" enctype="multipart/form-data">

                    <h4 style="display: inline-block;">Import CSV to Order</h4><input type="file" name="file"><br><br>
                    <a style="text-decoration: none;color: coral" href="/admin/index">CANCEL</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button style="color: green; outline: none; border: none; background: none; cursor: pointer;"
                        type="submit" name="order" onclick="return confirm('Are you sure you want to import?');">Import
                        Orders</button>
                </form>
                <br><br>
                <!--        php ends-->


</body>

</html>